@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Product Catalogue</h1>
    <p>Know about Product <a href="Home/List">Your Fantasy</a>.</p>
</div>
