<div>
    Message from ViewBag : @ViewBag.Message2
</div>



@foreach (var message in (List<string>)ViewData["Message"])
{
    <div>
        Message from ViewData : @message
    </div>
}

<div>
    Message from TempData : @ViewBag.User
</div>