@{
    ViewData["Title"] = "Home Page Of Project";
}
<h1>Welcome to Index Page</h1>
<div class="text-center">
    <h1 class="display-4">Welcome to My World</h1>
    <p><a href="/Home/List">Click Here for Action...</a>.</p>
</div>
