@model DTO.Survey
<form method="post">
    <table>

        <tr>
            <td>
                <span>MODIFIEDDate</span>
            </td>
            <td>
                <input type="text" asp-for="ModifiedDate" />
            </td>
        </tr>
        <tr>
            <td>
                <span>SYURVEYTYPEID</span>
            </td>
            <td>
                <input type="text" asp-for="SurveyTypeID" />
            </td>
        </tr>
        <tr>
            <td>
                <span>SURVEYTYPENAME</span>
            </td>
            <td>
                <input type="text" asp-for="SurveyTypeName" />
            </td>
        </tr>
        <tr>
            <td>
                <span>ModifiedBy</span>
            </td>
            <td>
                <input type="text" asp-for="ModifiedBy" />
            </td>
        </tr>
        <tr>
            <td>
                <span>MODIFIEDDate</span>
            </td>
            <td>
                <input type="text" asp-for="ModifiedDate" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" asp-controller="Survey" asp-action="Create">Create</button>
                <a asp-controller="Survey" asp-action="Index" class="fw-bolder">Back to List</a>
            </td>
        </tr>
    </table>
</form>