@model IEnumerable<User>

<h2>User List</h2>
<a href="/User/Create">Create New</a>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            @* <td>@user.Email</td> *@
            <td>
                <a href="/User/Edit/@user.Id">Edit</a> |
                <a href="/User/Delete/@user.Id">Delete</a> |
                <a href="/User/Details/@user.Id">Details</a>
            </td>
        </tr>
    }
</table>
