@model IEnumerable<Entity.Invoices>

<h2>Invoice List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Invoice ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.Id</td>
                <td>@invoice.Name</td>
            </tr>
        }
    </tbody>
</table>
